/** LIST PAGINATION **/

div.list-pagination {
    clear: left;
    text-align: center;
    margin:20px 0;
    width:99%;
    float: left;
}

div.list-pagination-element {
    float:left;
    cursor: pointer;
    width:40px;
    height:40px;
    margin: 0 5px;
    line-height: 40px;
}
.cards_per_page {
    color:#666;
    padding:8px 10px;
    float:right;
}
div.list-pagination-element div:hover{
    color: #018fee;
}
#list-pagination-pages {width:auto; display:-webkit-inline-flex;}
div.list-pagination-element-unavailable {
    float:left;
    cursor: default;
    width:40px;
    height:40px;
    margin: 0 5px;
    line-height: 40px;
    background-color: #233547;
    border-radius:21px;
    color:#fff;
}
#list-pagination-first.list-pagination-element-unavailable{background: url("../images/pagination_inactive_first.png") no-repeat center;}
#list-pagination-prev.list-pagination-element-unavailable{background: url("../images/pagination_inactive.png") no-repeat center;}
#list-pagination-next.list-pagination-element-unavailable{background: url("../images/pagination_inactive_next.png") no-repeat center;}
#list-pagination-last.list-pagination-element-unavailable{background: url("../images/pagination_inactive_last.png") no-repeat center;}

#list-pagination-next.list-pagination-element{background: url("../images/pagination_next.png") no-repeat center;}
#list-pagination-last.list-pagination-element{background: url("../images/pagination_last.png") no-repeat center;}
#list-pagination-first.list-pagination-element{background: url("../images/pagination_first.png") no-repeat center;}
#list-pagination-prev.list-pagination-element{background: url("../images/pagination_prev.png") no-repeat center;}

div.list-pagination select.list-pagination-items-per-page {
    float: right;
    padding: 5px;
    height: 35px;
}